*{
    margin: 0;
    padding: 0;

}

.container{
    /*essa em a propriedadede que transoforma em uma grid conteier automaticamem todos os elementos filhos desse conteiner 
    serao grids filhos*/
    display: grid;  
    /*define funaçao repeat dis quantas colunas eu vou ter e o tannha ex 4, auto*/
    grid-template-columns: repeat(3, 4);
    /*grid-template-columns: 1fr 3fr 1fr 1fr;*/
/*    grid-column-gap: 40px;
    grid-row-gap: 50px;*/
    /**espacamento entre linas e colunas*/
    grid-gap: 10px 10px;
       

    background-color: brown;
    padding: 10px;
}

.item{
    background-color: azure;
    border: 2px solid springgreen;
    padding: 10px;
    font-size: 10px;
    
}

img{
    padding: 10px;
    font-size: 10px;
}