/* ----------------------------------------------- */
/* Configurações Básicas */
/* ----------------------------------------------- */

/*Zerando bordas para ter maior domínio sobre os box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
}

/*Configurando minha linha do sistema de grid*/
.row {
    max-width: 1140px; /*Define o tamanho máximo da linha*/
    margin: 0 auto 0 auto; /*Define que o container vai ficar centralizado*/
    /*margin: 0 auto; maneira alternativa para a linha de cima*/
 }

 header {
    background-image: linear-gradient(rgba(20, 0, 0, 0.95), rgba(26, 0, 0, 0.16)), url(img/Prato8.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h1 {
    margin-top: 0;
    color: #fff;
    font-size: 240%; /*o tamanho de fonte padrão está definido na regra de css do elemento html como 20px*/
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.hero-text-box {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    margin-top: 0;
    color: #fff;
    font-size: 240%; /*o tamanho de fonte padrão está definido na regra de css do elemento html como 20px*/
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h1 {
    margin-top: 0;
    margin-bottom: 20px; /*Ajustando espaçamento*/
    color: #fff;
    font-size: 240%; 
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300; 
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}


.btn-full{
    background-color: #e1b12c;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-full:link,
.btn-full:visited  {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited  {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.btn-full:link,
.btn-full:visited  {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px; /*espaçamento entre os btões*/
}

btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*a transição da cor do fundo, da borda e da fonte deve demorar 0.2 segundos*/
}



.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; /*colocar um espaçamento acima da logo para baixar ela*/
}

.main-nav {
    float: right;
    list-style: none; /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 35px; /*colocar um espaçamento acima da lista para baixar ela*/
}

.main-nav li {
    display: inline-block;
    margin-left: 40px; /*espaçamento entre os items da lista*/
}

.main-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.img-col{    
    width: 20vh;

}

.row-centro{
    text-align: center;
}

.fas, ion-icon {
    font-size: 350%; /*Tamanho do ícone*/
    display: block;
    color: #e67e22; /*cor da fonte = cor do ícone*/
    margin-bottom: 10px; /*espaço entre o ícone e o título do feature*/
    text-align: center;
}



h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center; /*Centralizando o texto*/
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " "; /*Conteúdo do item*/
    width: 100px; /*Comprimento do item*/
    margin: 0 auto; /*Centralizar*/
    margin-top: 30px;
}

.long-copy {
    line-height:145%;
    width: 70%; /*ocupa 70%, sobra 30%*/
    margin-left: 15%; /*15% para cada lado*/
}

.box {
    padding: 1%; /*dá um pequeno espaçamento entre o conteúdo e o container.*/
}

.section-features .long-copy {
    margin-bottom: 30px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}


.images-showcase {
    list-style: none; /*Retira marcadores*/
    width: 100%; /*a lista agora ocupa toda largura da tela*/
}

.images-showcase {
    list-style: none; /*Retira marcadores*/
    width: 100%; /*a lista agora ocupa toda largura da tela*/
}





/*--------------------------------------------------------------------------------------
Bloco de imagens*/


photo {
    width: 100%;
    margin: 0;
}



.photo img {
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
}

.section-photos {
    padding: 0;
}

.photo img {
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.15); /*imagem aumentada em 15%*/
}

.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.photo img:hover {
    transform: scale(1.03); /*escala da imagem com valor padrão*/
}


photo img {
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.15); /*imagem aumentada em 15%*/
    transition: transform 0.5s; /*Adiciona um período de transição quando alterado houver alteração da propriedade transform*/
}


.photo img {
    opacity: 0.7; /*deixa a imagem um pouco transparente*/
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.15); /*imagem aumentada em 15%*/
    transition: transform 0.5s; /*Adiciona um período de transição quando alterado a propriedade transform*/
}

.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000; /*Cor de fundo - preto*/
}

.photo img:hover {
    opacity:1;
    transform: scale(1.03); /*escala da imagem com valor padrão*/
}

.photo img {
    opacity: 0.7; /*deixa a imagem um pouco transparente*/
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.15); /*imagem aumentada em 15%*/
    transition: transform 0.5s, opacity 0.5s; /*Adiciona um período de transição quando houver alteração na propriedade transform ou opacity*/
}


/*---------------------------------------------------------------------------------------*/

/* ----------------------------------------------- */
/* Seção Lista de Passos (Section Steps) */
/* ----------------------------------------------- */

/*Definindo cor de fundo para essa seção*/
.section-steps {
    background-color: #f4f4f4;
}

/*Regra para ambos os boxes/containers*/
.steps-box {
    margin-top: 30px; /*Margem entre ambos os boxes e o h2*/
}

/*Regra para selecionar apenas o primeiro box/container, neste caso será o da esquerda*/
/*Nota: First significa Primeiro*/
.steps-box:first-child {
    text-align: right; /*textos ou conteúdos do tipo inline (ex. img) alinhados à direita*/
    padding-right: 3%; /*usamos porcentagem para ser responsivo*/
}

/*Regra para selecionar apenas o último box/container, neste caso será o da direita*/
/*Nota: Last significa Último*/
.steps-box:last-child {
    padding-left: 3%; /*usamos porcentagem para ser responsivo*/
}

/*Regra para selecionar apenas o último box/container, neste caso será o da direita*/
/*Nota: Last significa Último*/
.steps-box:last-child {
    padding-left: 3%; /*usamos porcentagem para ser responsivo*/
}

.step {
    margin-bottom: 50px;
    color:#e67e22;
    font-weight: bolder;
    
}

/*Vamos criar uma regra para o elemento div dentro da classe step*/
.step div {
    color: #e67e22; /*Define cor da fonte*/
    border: 2px solid #e67e22; /*define uma borda laranja*/
    display: inline-block;/*para permitir containers lado a lado*/
}


/*arredondarmos as bordas, definir altura e largura do container.*/
.step div {
    color: #e67e22; /*Define cor da fonte*/
    border: 2px solid #e67e22; /*define uma borda laranja*/
    display: inline-block;/*para permitir containers lado a lado*/
    border-radius: 50%; /*Arredonda as bordas*/
    height: 55px;/*Define altura*/
    width: 55px;/*Mesmo valor da altura, afinal queremos um circulo*/
}


/* Número dentro do círculo não está alinhado. Vamos fazer isso agora.*/
.step div {
    color: #e67e22; /*Define cor da fonte*/
    border: 2px solid #e67e22; /*define uma borda laranja*/
    display: inline-block;/*para permitir containers lado a lado*/
    border-radius: 50%; /*Arredonda as bordas*/
    height: 55px;/*Define altura*/
    width: 55px;/*Mesmo valor da altura, afinal queremos um circulo*/
    /*Ajustando o texto interno*/
    text-align: center;/*Texto centralizado na horizontal, não na vertical*/
    padding: 5px;/*espaço entre texto e borda do container*/
    float: left;
    font-size: 150%;
    margin-right: 30px;/*espaço entre essa div e o paragráfo - talvez varie de acordo com o tamanho dos paragráfos*/
}


/*Deletar essa regra*/
.steps-box {
}

.steps-box:first-child {
    margin-top: 30px;
    text-align: right; /*textos ou conteúdos do tipo inline (ex. img) alinhados à direita*/
    padding-right: 3%; /*usamos porcentagem para ser responsivo*/
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%; /*usamos porcentagem para ser responsivo*/
    margin-top: 70px;
}

.btn-app img {
    height:50px;
    width: auto;
    margin-right: 10px;
}

.step:last-of-type {
    margin-bottom: 80px;
}

.app{
    width: 10%;
    border-radius: 10%; /*Arredonda as bordas*/
   
    border: 2px; 

}


.clearfix {
    zoom:1;
    }
    
    /*limpa o float depois de um elemento.*/
    .clearfix:after {
        content: '.';
        clear: both;
        display: block;
        height:0;
        visibility:hidden;
    }

    .cidades{
        font-size: 13px;
    }
 
    footer{
        background-color: burlywood;
        text-align: center;
        font-size: 10px;
    }