/*925*/

@media only screen and (max-width: 1000px){
    .hero-text-box {
        background-color: rebeccapurple;
        width: 100%;
        padding: 0 2%;
        font-size: 18px;
    }
    
    .row{
        padding: 0 2%;
    }


    
}



@media only screen and (max-width: 800px){
       
    .row{
        padding: 0 2%;
    }

    html {
        color:blue;
        font-weight: 300;
        font-size: 12px;
        width: 100%;
        padding: 0 1%;
    }
    
    .steps-box:first-child {
        margin-top: 10px;
    }
    
    .steps-box:last-child {
        margin-top: 10px;
    }
    
    .step{
        margin-bottom: 40px;
    }

    .step:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small{
        width: 20%;
        margin-right: 5px;
    }

    .city-feature{
        font-size: 85%;

    }
}

    
@media only screen and (max-width: 760px){
    section{
        padding: 30px 0;
    }

    html {
        color:green;
        width: 100%;
        padding: 0 1%;
    }
      
    .row,
    .hero-text-box {
        padding: 0 4%;
    
    }
    .col{
        width: 100%;
    }

    .main-nav{
        margin-top: 30px;
        
        display: none;
    }
    

    .mobile-nav-icon{
        font-size: 200%;
        color: #fff;
        display: inline-block;
    }

    .main-nav li a:link,
    .main-nav li a :visited{
        display: inline-block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .stick .main-nav{
        margin-top: 10px;
    }

    
    .stick .main-nav .mobile-nav-icon{
        color: #555;
    }

    .stick .main-nav li a:link,
    .main-nav li a :visited{
        padding: 5px 0;
       
    }

    h1{
        font-size: 180%;
    }

    h2{
        font-size: 150%;
    }

    .long-copy{
        width: 100%;
        margin-right: 0%;
    }

    .mobile-nav-icon{
        font-size: 2000%;
        color: #fff;
       
    }

    .main-nav{
        display: inline-block;
    }

    .steps-box:first-child {
        text-align: center;
    }
    
    .steps-box:last-child {
      
    }
    
    .app-screen {
       width: 30%;
    }
    
    .step {
        margin-bottom: 20px;
    }
    
    .step:last-of-type {
        margin-bottom: 20;
    }

    .step div {

        height: 40px;/*Define altura*/
        width: 40px;/*Mesmo valor da altura, afinal queremos um circulo*/
        
        padding: 4px;/*espa�o entre texto e borda do container*/
        float: left;
        font-size: 120%;
        margin-right: 15px;/*espa�
    }
}



